<header>
    <nav class="top_menu">
        <h1 class="logo">NDMBlog</h1>
        <div id="top_action-menu" class="toggle">
            <span></span>
        </div>
    </nav>
    </div>
    <div id="main_menu">
        <ul class="list-unstyled text-center">
            <li>Home</li>
            <li>Categorías</li>
            <li>NDMB</li>
            <li>Contacta</li>
        </ul>
</header>