<!DOCTYPE html>
<!--[if IE 8]>
<html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<!--<![endif]-->
<head>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="author" content="1mycom"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}"/>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="wrapper">
    {% block body %}{% endblock %}
</div>
{% block javascript %}{% endblock %}
</body>
</html>